%h1 Your Order
%table
  %tr
    %th Customer
    %td= @order.user_id
  %tr
    %th Status:
    %td= @order.status
  %tr
    %th Items:
    %td= @order.order_items.count
  %tr
    %th Items
    %th Title
    %th Quantity
    %th Stock
    %th Unit Price
    %th Subtotal
    %th
  -@order.order_items.each do |item|
    %tr
      %td= image_tag "products/#{item.product.image_url}"
      %td= item.product.title 
      %td= link_to item.quantity, edit_order_item_path(item)
      %td= print_stock(item.product.stock, item.quantity)
      %td= item.product.price
      %td= print_price item.subtotal
      %td= link_to 'Remove', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %tr
    %th Order Total
    %td= print_price (@order.total)

= link_to 'Empty Cart', @order, method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Continue Shoping', products_path
