%h1 All Products

%table
  %tr
    %th Image
    %th Title
    %th Price
    %th links
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= image_tag "products/#{product.image_url}"
      %td
        %span.product_title
          = product.title
        = product.description
      %td= print_price(product.price)
      %td= link_to 'Show', product_path(product)
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%p
  = link_to 'Create a New Product', new_product_path, id: "new_product"
