%h1 All Products

%table
  %tr
    %th Image
    %th Title
    %th Price
    %th Stock
    %th link
    %th Buy

  - @products.each do |product|
    %tr
      %td= image_tag "products/#{product.image_url}"
      %td
        %span.product_title
          = product.title
        = product.description
      %td= print_price(product.price)
      %td= print_stock(product.stock)
      %td= link_to 'Show', product_path(product)
      %td= button_to "Add to Cart", order_items_path(product_id: product.id)

%br

%p
  = link_to 'Create a New Product', new_product_path, id: "new_product"
